In [73]:
# import data set
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
df = pd.read_csv('music.csv')

SyntaxError: invalid syntax (3808479955.py, line 3)

In [65]:
df.sample(5)

    age  gender      genre
0    20       1     HipHop
11   25       0      Dance
8    37       1  Classical
10   21       0      Dance
7    33       1  Classical

In [66]:
 X = df.drop(columns = ['genre'])

In [67]:
X.head(2)

   age  gender
0   20       1
1   23       1

In [68]:
y = df['genre']

In [69]:
y.tail(2)

16    Classical
17    Classical
Name: genre, dtype: object

In [70]:
# Split the data:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [71]:
# create model, make predictions

In [72]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

#  calculating accuracy
score = accuracy_score(y_test, predictions)
score

1.0